<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="filas">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.age %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>

        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path,remote: true %>
<br><br><br>

<div id="datos">
  <label>Name</label>
  <input id="name" type="" name="">
  
  <label>Last Name</label>
  <input id="last_name" type="" name="">

  <label>Age</label>
  <input id="age" type="" name="">

  <div class="actions">
    <button onclick="agregar_usuario();">Guardar con ajax</button>
  </div>
</div>

<script type="text/javascript">
  
  function agregar_usuario(){
    datos = $('div[id="datos"] input')

    name      = datos[0].value
    lastName  = datos[1].value
    age       = datos[2].value

    $.ajax({
      type: 'put',
      url: '/agregar_usuario_ajax',
      data: {
        dato1: name,
        dato2: lastName,
        dato3: age
      },
      success: function(objeto_usuario) {

        var $row = $('<tr>'+
        '<td>'+objeto_usuario.name+'</td>'+
        '<td>'+objeto_usuario.last_name+'</td>'+
        '<td>'+objeto_usuario.age+'</td>'+
        '</tr>');   
        $("#filas").append($row);
      }
    }); //Fin de ajax
  }

</script>
